<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="/static/apple-touch-icon.png">

        <link rel="stylesheet" href="/static/css/normalize.min.css">
        <link rel="stylesheet" href="/static/css/html5boilerplate.css">
        <link rel="stylesheet" href="/static/css/angular-material.min.css">
        <link rel="stylesheet" href="/static/css/docs.css">
        <link rel="stylesheet" href="/static/css/main.css" />
        
        <script src="/static/js/vendor/modernizr.min.js"></script>
    </head>
    <body ng-app="MyApp" ng-controller="AppCtrl" ng-cloak>
        
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        

        <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
            
            <md-toolbar class="md-tall md-hue-2">
                <span flex></span>
                <div layout="column" class="md-toolbar-tools-bottom inset">
                    <user-avatar></user-avatar>
                    <span></span>                    
                    <div>user@domain.com</div>
                </div>
            </md-toolbar>
            
            <md-list>

                <md-item ng-repeat="item in menu">
                    <a>
                        <md-item-content md-ink-ripple layout="row" layout-align="start center">
                            <div class="inset">
                                <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                            </div>
                            <div class="inset">{{item.title}}
                            </div>
                        </md-item-content>
                    </a>
                </md-item>

                <md-divider></md-divider>

                <md-subheader>Management</md-subheader>

                <md-item ng-repeat="item in admin">
                    <a>
                        <md-item-content md-ink-ripple layout="row" layout-align="start center">
                            <div class="inset">
                                <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                            </div>
                            <div class="inset">{{item.title}}
                            </div>
                        </md-item-content>
                    </a>
                </md-item>

            </md-list>
        </md-sidenav>
        

        <div layout="column" class="relative" layout-fill role="main">
            
            <md-toolbar ng-show="!showSearch">
                <div class="md-toolbar-tools">
                    <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
                        <ng-md-icon icon="menu"></ng-md-icon>
                    </md-button>
                    <h3>
                        Dashboard
                    </h3>
                    <span flex></span>
                    <md-button aria-label="Search" ng-click="showSearch = !showSearch">
                        <ng-md-icon icon="search"></ng-md-icon>
                    </md-button>
                </div>
                <div class="navBar" ng-controller="NavBarCtrl" ng-cloak>
                  <md-content class="md-padding">
                    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
                      <md-nav-item md-nav-click="goto('page1')" name="page1">Page One</md-nav-item>
                      <md-nav-item md-nav-click="goto('page2')" name="page2">Page Two</md-nav-item>
                      <md-nav-item md-nav-click="goto('page3')" name="page3">Page Three</md-nav-item>                      
                    </md-nav-bar>                    
                  </md-content>
                </div>
                <md-content class="md-padding">
                    <md-nav-bar nav-bar-aria-label="navigation links">
                        <md-nav-item>
                            <md-button ng-href="booklist"><span class='mynavbar'>Book List</span></md-button>
                        </md-nav-item>                        
                    </md-nav-bar>
                </md-content>
            
            </md-toolbar>
            
            <md-toolbar class="md-hue-1" ng-show="showSearch">
              
                <div class="md-toolbar-tools">
                    <md-button ng-click="showSearch = !showSearch" aria-label="Back">
                        <ng-md-icon icon="arrow_back"></ng-md-icon>
                    </md-button>

                    <h3 flex="10">
                        Back
                    </h3>

                    <md-input-container md-theme="input" flex>
                        <label>&nbsp;</label>
                        <input ng-model="search.who" placeholder="enter search">
                    </md-input-container>

                    <md-button aria-label="Search" ng-click="showSearch = !showSearch">
                      <ng-md-icon icon="search"></ng-md-icon>
                    </md-button>
                    
                </div>             
            
            </md-toolbar>
        
            <md-content flex md-scroll-y>
                <ui-view layout="column" layout-fill layout-padding>                    
                    [% content %]
                    <br><br>
                    <div id='react-ticker'></div>
                </ui-view>
            </md-content>
        </div>

        <script src="/static/js/vendor/jquery.min.js"></script>
        <script src="/static/js/plugins.js"></script>        
        
        
        <script src="/static/js/angular.min.js"></script>
        <script src="/static/js/angular-animate.min.js"></script>
        <script src="/static/js/angular-aria.min.js"></script>
        <script src="/static/js/angular-route.min.js"></script>
        <script src="/static/js/angular-messages.min.js"></script>        
        <script src="/static/js/angular-material.min.js"></script>        
        <script src="/static/js/angular-material-icons.min.js"></script>
        
        <script src="/static/js/svg-assets-cache.js"></script>
        
        <script src="/static/js/react.min.js"></script>
        <script src="/static/js/react-dom.min.js"></script>
        
        <script src="/static/js/main.js"></script>
        
        <!--        
        Google Analytics: change UA-XXXXX-X to be your site's ID.        
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>        
        -->
    </body>
</html>